.tabbed-content-container {
	background-color: white;
	border-radius: 10px;
	margin-top: -2px;
	z-index: 0;
	box-shadow: 0 33px 40px 0 rgb(22 28 45 / 16%);
}

.content-table {
	margin: 25px 15px;
}

.table-header-col {
	background-color: #c83200;
	color: white;
	border: solid 2px white;
	border-left: none;
	padding: 8px 2px;
	font-weight: 600;
	letter-spacing: 0.5px;
}

.table-header-col-1 {
	width: 6%;
	border-left: solid 2px white !important;
}
.table-header-col-2 {
	width: 7%;
}
.table-header-col-3 {
	width: 20%;
}
.table-header-col-4 {
	width: 7%;
}
.table-header-col-5 {
	width: 10%;
}
.table-header-col-6 {
	width: 10%;
}
.table-header-col-7 {
	width: 11%;
}
.table-header-col-8 {
	width: 12%;
}
.table-header-col-9 {
	width: 7%;
}
.table-header-col-10 {
	width: 10%;
}
