.App {
	text-align: center;
	font-family: Montserrat, Cambria, Cochin, Georgia, Times, 'Times New Roman',
		serif !important;
}
input {
	font-family: Montserrat, Cambria, Cochin, Georgia, Times, 'Times New Roman',
		serif !important;
}
