.table-entry-container {
	display: grid;
	grid-template-columns: 6% 7% 22% 13% 9% 11% 10% 12% 10%;
}

.table-entry-col {
	color: black;
	border: solid 2px white;
	border-top: none;
	border-left: none;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 400;
	overflow-wrap: anywhere;
	background-color: #f4f6f9;
}

.table-entry-col:focus {
	z-index: 3;
	outline: none;
	box-shadow: -2px 10px 18px 5px rgb(22 28 45 / 16%);
	border: none;
}

.table-entry-col:first-of-type {
	border-left: solid 2px white;
}

.entry-item {
	padding: 4px 0;
	width: 100%;
}

.table-entry-icon-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 8px 4px;
}

.table-entry-icon {
	width: 30%;
	border-radius: 10%;
	padding: 5px 3px;
	margin-bottom: 8px;
	color: white;
	background-color: #1b047c;
	box-shadow: 0 13px 12px 0 rgb(22 28 45 / 16%);
	cursor: pointer;
}

.table-entry-icon-deactivate {
	width: 30%;
	border-radius: 10%;
	padding: 5px 3px;
	margin-bottom: 8px;
	color: #aaaaaa;
	background-color: #cccccc;
	box-shadow: 0 13px 12px 0 rgb(22 28 45 / 16%);
	cursor: pointer;
}

.table-entry-icon-original {
	width: 30%;
	border-radius: 10%;
	padding: 5px 3px;
	margin-bottom: 8px;
	color: white;
	background-color: #228c22;
	box-shadow: 0 13px 12px 0 rgb(22 28 45 / 16%);
	cursor: pointer;
}
.table-entry-icon-deactivate:hover {
	width: 30%;
	border-radius: 10%;
	padding: 5px 3px;
	margin-bottom: 8px;
	color: white;
	background-color: #c83200;
	box-shadow: 0 13px 12px 0 rgb(22 28 45 / 16%);
	cursor: pointer;
}

.table-entry-text-area {
	width: 100%;
	height: 100%;
}

.table-entry-edit-icon {
	background-color: #00bfff;
	color: white;
}

.table-entry-input-value {
	background-color: inherit;
	width: calc(100% - 20px);
	height: 100%;
	border: none;
	font-size: 14px;
	font-weight: 600;
	resize: none;
	word-wrap: break-word;
	word-break: break-all;
	padding: 8px 10px;
}

.table-entry-input-value:disabled {
	color: black;
}

.table-entry-input-value:focus {
	z-index: 3;
	outline: none;
	box-shadow: -2px 10px 18px 5px rgb(22 28 45 / 16%);
}
