.status-update-header {
	padding: 10px 10px;
}
.status-update-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 0 !important;
}

.status-update-input-container {
	display: flex;
	flex-direction: row;
	margin: 10px;
	margin-bottom: 20px;
	align-items: flex-start;
}

.status-update-input-label {
	min-width: 18%;
	font-weight: bold;
	margin-right: 10px;
	display: flex;
	font-size: 16px;
	flex-direction: column;
}

.status-update-input-label .sub-head {
	font-size: 12px;
	font-weight: normal;
}

.status-update-input-text {
	flex: 1;
	font-family: inherit;
	padding: 5px;
}
.status-update-divider {
	margin: auto;
	width: 100%;
	border: solid 1px #aaaaaa;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #1b047c;
}

input:focus + .slider {
	box-shadow: 0 0 1px #1b047c;
}

input:checked + .slider:before {
	-webkit-transform: translateX(35px);
	-ms-transform: translateX(35px);
	transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 25px;
}

.slider.round:before {
	border-radius: 50%;
}
