.table-header-container {
	display: grid;
	grid-template-columns: 6% 7% 22% 13% 9% 11% 10% 12% 10%;
	width: 100%;
}
.table-header-filter {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
